<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
        Creado con 😃 por ChayoVS - 2021
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a href="https://wa.me/525516062707" target="_blank">
                <img src="../../../assets/img/whatsapp.png" alt="" class="ml-3">
            </a>
        </li>
        <li class="ms-3">
            <a href="https://github.com/ChayoVS" target="_blank">
                <img src="../../../assets/img/github.png" alt="" class="ml-3">
            </a>
        </li>
        <li class="ms-3">
            <a href="https://mx.linkedin.com/in/rosario-vazquez-salazar" target="_blank">
                <img src="../../../assets/img/linkedin.png" alt="" class="ml-3">
            </a>
        </li>
    </ul>
</footer>