<header>
    <div class="px-3 py-2">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="../../../assets/img/AnotaFav.png" class="img-fluid" alt="anotapp-logo-small">
                    <span class="fs-4 ml-3">Anotapp</span>
                </a>
            </div>
        </div>
    </div>
</header>