.note-detail {
    height: calc( 75vh - 55px);
    overflow: hidden;
}

.note-detail span {
    width: 100%;
    top: 5px;
    position: relative;
    font-size: 16px;
    color: black;
}

.note-detail label {
    width: 91%;
    padding: 7px;
    display: block;
    text-align: left;
    color: black;
    margin: auto 10px;
    margin-top: 10px;
}

.note-textarea {
    background-color: #fff;
    resize: none;
    width: 90%;
    height: calc( 50vh - 210px);
    font-size: 14px;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    text-transform: uppercase;
}